// Esquema de colores a usar en la página
$white: #FFFFFF;
$light-gray: #D1D1D1;
$gray:#C9C9C9;
$nickel: #6C6E70;
$raisin-black: #222323;
$black: #000000;

// Tipografía a usar
$futura: "futura", sans-serif;

// Peso de las fuentes
$medium: 300;
$regular: 400;
$bold: 900;

// Tamaños de fuentes
$xx-large: 70px;
$x-large: 40px;
$large: 18px;
$medium: 16px;
$small: 12px;
