// Contenedor videos
.video__section {
  padding-left: 5em;
  padding-right: 5em;
}

// Textos
.video__box {
  img {
    height: 75%;
  }
  h3 {
    font-size: $medium;
    font-weight: $bold;
    padding-bottom: 0.5em;
  }
  p {
    font-size: $small;
    color: $nickel;
  }
}
